body {
    background-color:#a5aa5c;
}

h1 {
    color: #7e4a2e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    size: 150%;
    text-align: center;
    text-decoration: underline;
}
.parrafo1 {
    text-align: center;
}
h2 {
    color: #7e4a2e;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    size:120%;
    text-align: center;
    text-decoration: underline;
    text-indent:20px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #141211;
    size: 100%;
    text-align: justify;
    text-indent: 15px;
    font-weight: bold;
}

label {
    font-family: 'Times New Roman', Times, serif;
    color: #141211;
    size: 100%;
    text-align: justify;
    text-indent: 15px;
    font-weight: bold;
}

ul {
    color:#9b532c;
    font-family: 'Times New Roman', Times, serif;
    list-style-image: url("Lista.png");
}

table {
    width: 75%;
    size: 100%;
    color:#141211;
    border: 2px solid #141211;
    box-sizing: content-box;
}

td{
    text-align: right;
    border: 1px solid #141211;
}

th{
    text-align: center;
    background-color: #c5e678;
    border: 1px solid #141211;
}

input, select {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
}

input:valid {
    border-color: green;
}
  
input:invalid, input:optional:invalid {
    border-color: red;
}
  
input:optional {
    border-color: gray;
}

input:focus:valid {
    background-color: lightgreen;
}
  
input:focus:invalid {
    background-color: lightsalmon;
}

#total {
    font-weight: bold;
    font-size: 18px;
}